<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head"></head>
<style>
    .select {
        display: flex;
        flex-direction: row;
    }

    .item {
        flex: 1;
    }


    ol {
        margin-top: 10px;
        margin-bottom: 15px;
    }

</style>
<body>
<div class="container-fluid">

    <ol class="breadcrumb">
        <li>权限管理</li>
        <li>学生账号管理</li>
    </ol>
    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>增加
        </button>
    </div>
    <table id="table" data-mobile-responsive="true">
    </table>

    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入教师工号" id="insertNumber">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="insert()">提交</button>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="static :: script"></div>
</body>
<script>
    $(document).ready(function () {
        load()
    })

    function load() {
        $('#table')
            .bootstrapTable({
                url: "/user/schList",   //请求后台的URL（*）
                method: 'GET',         //请求方式（*）
                toolbar: '#toolbar',   //工具按钮用哪个容器
                striped: true,        //是否显示行间隔色
                cache: false,         //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,     //是否显示分页（*）
                sortable: true,       //是否启用排序
                sortOrder: "asc",        //排序方式
                sidePagination: "server",  //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,            //初始化加载第一页，默认第一页,并记录
                pageSize: 10,             //每页的记录行数（*）
                pageList: [10, 20, 30],  //可供选择的每页的行数（*）
                search: true,     //是否显示表格搜索
                showSearchButton: true,
                strictSearch: true,
                showColumns: true,   //是否显示所有的列（选择显示的列）
                showRefresh: false,    //是否显示刷新按钮
                minimumCountColumns: 2,  //最少允许的列数
                clickToSelect: true,  //是否启用点击选中行
                //height: 500,     //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",    //每一行的唯一标识，一般为主键列
                showToggle: false,  //是否显示详细视图和列表视图的切换按钮
                cardView: false,      //是否显示详细视图
                detailView: false,   //是否显示父子表
                //得到查询的参数
                queryParams: function (params) {
                    return {
                        search: params.search,
                        pageSize: params.limit,
                        page: (params.offset / params.limit) + 1,
                    }
                },
                columns: [{
                    checkbox: true,
                    visible: true                  //是否显示复选框
                },
                    {
                        field: 'username',
                        title: '用户名',
                        align: 'center',
                    }, {
                        field: 'nickname',
                        title: '昵称',
                        align: 'center',
                    },
                    {
                        field: 'phone_number',
                        title: '电话号码',
                        align: 'center',
                    },
                    {
                        field: 'email',
                        title: '邮箱',
                        align: 'center',
                    },
                    {
                        field: 'is_lock',
                        title: '账号状态',
                        align: 'center',
                        formatter: function (value, row, index) {
                            return value == 1 ? "正常" : "锁定";
                        }
                    },
                    {
                        field: 'department_id',
                        title: '学院',
                        visible: false,
                        formatter: function (value, row, index) {
                            var department = {};
                            if (value != null) {
                                $.ajax({
                                    //cache: true,
                                    async: false,
                                    type: "POST",
                                    url: "/department/get/" + value,
                                    dataType: "json",
                                    data: {},
                                    success: function (data) {
                                        if (data.code == 1) {
                                            department = data.data;
                                        }
                                    }
                                });
                            }
                            return department != null ? department.name : "";
                        }
                    },

                    {
                        title: '操作',
                        field: 'id',
                        align: 'center',
                        formatter: function (value, row, index) {
                            let e = '<a class="btn btn-primary btn-sm" title="编辑" onclick="initPassword(' + row.id + ')">初始化密码</a> ';
                            let a
                            if (row.is_lock)
                                a = '<a class="btn btn-primary btn-sm" title="编辑" onclick="lock(' + row.id + ')">激活账号</a> ';
                            else
                                a = '<a class="btn btn-primary btn-sm" title="编辑" onclick="lock(' + row.id + ')">锁定账号</a> ';

                            let d = '<a class="btn btn-warning btn-sm" title="删除" onclick="drop(\''
                                + row.id
                                + '\')">删除</a> ';
                            return a + e + d;
                        }
                    }]
            });
    }

    function reLoad() {
        $('#table').bootstrapTable('refresh');
    }

    function initPassword(id) {
        $.ajax({
            type: "GET",
            url: "/user/initPassword/" + id,
            success: function (res) {
                if (res.code == 1) {
                    reLoad()
                    alert("密码初始化完成")
                } else {
                    alert(res.msg);
                }
            }
        });
    }


    function insert() {
        $.ajax({
            type: "GET",
            url: "/user/studentInsert/" + $("#insertNumber").val(),
            success: function (res) {
                if (res.code == 1) {
                    //操作成功，关闭模态框
                    $('#add').modal('hide');
                    reLoad()
                } else {
                    alert(res.msg);
                }
            }
        });
    }

    function drop(id) {
        $.ajax({
            type: "GET",
            url: "/user/delete/" + id,
            success: function (res) {
                if (res.code == 1) {
                    reLoad()
                    alert("账号删除成功")
                } else {
                    alert(res.msg)
                }
            }
        });
    }

    function lock(id) {
        $.ajax({
            type: "GET",
            url: "/user/nagation/" + id,
            success: function (res) {
                if (res.code == 1) {
                    alert("账号操作完成")
                    reLoad()
                } else {
                    alert(res.msg)
                }
            }
        });
    }
</script>
</html>
