<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head"></head>
<style>
    .select {
        display: flex;
        flex-direction: row;
    }

    .item {
        flex: 1;
    }
</style>
<body>
<div class="container-fluid">

    <ol class="breadcrumb">
        <li>首页</li>
        <li>学生信息</li>
        <li class="active">学业预警</li>
    </ol>

    <div id="toolbar" class="btn-group">
        <button id="btn_download" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>下载导入模板
        </button>

        <button id="btn_upload" type="button" class="btn btn-primary" onclick="">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>批量上传
        </button>

        <div class="select">
            <div class="item">
                <select id="departmentId" class="form-control">
                </select>
            </div>
            <div class="item">
                <select id="majorId" class="form-control"
                        required>
                    <option value="">
                        --请选择专业--
                    </option>
                </select>
            </div>
            <div class="item">
                <select id="grade" class="form-control">

                </select>
            </div>
            <div class="item">
                <select id="clazzId" class="form-control">
                    <option value="">
                        --请选择班级--
                    </option>
                </select>
            </div>
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <div class="col-md-3">-->
<!--            <select id="departmentId" class="form-control">-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <select id="majorId" class="form-control"-->
<!--                    required>-->
<!--                <option value="">-->
<!--                    &#45;&#45;请选择专业&#45;&#45;-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <select id="grade" class="form-control">-->

<!--            </select>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <select id="clazzId" class="form-control">-->
<!--                <option value="">-->
<!--                    &#45;&#45;请选择班级&#45;&#45;-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->

<!--    </div>-->

<!--    <div class="row">-->
<!--        <div id="toolbar" class="btn-group ">-->
<!--            <button id="btn_upload" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">-->
<!--                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传-->
<!--            </button>-->

<!--            <button id="btn_download" type="button" class="btn btn-danger" onclick="">-->
<!--                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>下载-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->

    <table id="table_warning" data-mobile-responsive="true">
    </table>

<!--模态框-->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="updata">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input id="id2" name="id" class="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">学号：</label>
                            <div class="col-sm-8">
                                <input name="number" id="number2" class="form-control" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-8">
                                <input name="name" id="name2" class="form-control" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属院系：</label>
                            <div class="col-sm-8">
                                <!--<input id="gender" name="gender" class="form-control" type="text">-->
                                <select name="departmentId" class="form-control" id="departmentId2" required>
                                    <option value="">
                                        --请选择--
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属专业：</label>
                            <div class="col-sm-8">
                                <select name="majorId" class="form-control" id="majorId2" required>
                                    <option value="">
                                        --请选择--
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属班级：</label>
                            <div class="col-sm-8">
                                <!--<input id="gender" name="gender" class="form-control" type="text">-->
                                <select name="clazzId" class="form-control" id="clazzId2" required>
                                    <option value="">
                                        --请选择--
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">预警次数：</label>
                            <div class="col-sm-8">
                                <input name="admissionDate2" class="form-control" type="date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">预警学期：</label>
                            <div class="col-sm-8">
                                <input name="address2" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">预警等级：</label>
                            <div class="col-sm-8">
                                <input name="phoneNumber2" class="form-control" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary" >
                            确定
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>


<div th:replace="static :: script"></div>
</body>
<script src="/js/select.js"></script>
<script src="/js/smallSelect.js"></script>
<script>

    $(document).ready(function () {
        department();
        grade();
        load();
        up();
        s(2);


    });


    function load() {
        $('#table_warning')
            .bootstrapTable({
                url: "/preWarning/list",                      //请求后台的URL（*）
                method: 'GET',                      //请求方式（*）
                toolbar: '#toolbar',              //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                      //是否显示表格搜索
                showSearchButton: true,
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                 //是否显示父子表
                //得到查询的参数
                queryParams: function (params) {
                    console.log("list:" + params)
                    //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                    return {
                        pageSize: params.limit,                         //页面大小
                        page: (params.offset / params.limit) + 1,   //页码
                        //sort: params.sort,      //排序列名
                        //sortOrder: params.order //排位命令（desc，asc）
                        departmentId: $("#departmentId").val(),
                        majorId: $("#majorId").val(),
                        grade: $("#grade").val(),
                        clazzId: $("#clazzId").val(),
                        search_key: $("#search_key").val(),
                        search: params.search
                    };
                },
                columns: [{
                    checkbox: true,
                    visible: true   //是否显示复选框
                },
                // {
                //     field: 'id',
                //     title: '序号',
                //     align: 'center',
                // },
                {
                field: 'number',
                title: '学号',
                align: 'center',
                },
                {
                field: 'name',
                title: '姓名',
                align: 'center',

                }, {
                    field: 'departmentId',
                    title: '学院',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var department = {};
                        if(value != null){
                            $.ajax({
                                url: "/department/get/" + value,
                                async: false,
                                type: "GET",
                                success: function (res) {
                                    if (res.code == 1) {
                                        department = res.data
                                    }
                                }
                            })

                        }
                        return department != null ? department.name : "";

                    }
                },
                    {
                        field: 'majorId',
                        title: '专业',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var major = {};
                            if(value != null){
                                $.ajax({
                                    url: "/major/get/" + value,
                                    async: false,
                                    type: "GET",
                                    success: function (res) {
                                        if (res.code == 1) {
                                            major = res.data
                                        }
                                    }
                                })

                            }
                            return major != null ? major.name : "";
                        }
                    }
                    ,
                    {
                        field: 'clazzId',
                        title: '班级',
                        align: 'center',
                        // formatter这个属性属于列参数，意思就是对当前列的数据进行格式化操作，它是一个函数，有三个参数
                        //value:代表当前单元格中的值，row：代表当前行,index:代表当前行的下标,使用return 返回你想要的数据显示在单元格中;
                        formatter: function (value, row, index) {
                            var clazz = {};
                            if(value != null){
                                $.ajax({
                                    url: "/clazz/get/" + value,
                                    async: false,
                                    type: "GET",
                                    success: function (res) {
                                        if (res.code == 1) {
                                            clazz = res.data
                                        }
                                    }
                                })
                            }

                            return clazz != null ? clazz.name : "";
                        }
                    },
                    {
                        field: 'warntime',
                        title: '预警次数',
                        align: 'center',
                    },
                    {
                        field: 'warnterm',
                        title: '预警学期',
                        align: 'center',
                    },
                    {
                        field: 'warngrade',
                        title: '预警等级',
                        align: 'center',
                    },
                    {
                        title: '操作',
                        field: 'id',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var e = '<a class="btn btn-primary btn-sm " href="#" mce_href="#"  data-toggle="modal" data-target="#edit" title="编辑" onclick="get(' + row.id + ')">编辑</a> ';
                            var d = '<a class="btn btn-warning btn-sm " href="#" title="删除"  mce_href="#" onclick="remove(\'' + row.id + '\')">删除</a> ';

                            return e+d;
                        }
                    }]

            });
    }

    function reLoad() {
        $('#table_warning').bootstrapTable('refresh');
    }
    function get(id) {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/student/get/" + id,
            data: {},
            success: function (data) {
                if (data.code == 1) {
                    var student = data.data;
                    for (var key in student) {
                        $("#" + key+'2').val(student[key]);
                        // alert(key);
                    }
                }
            }
        });

    }
     function up(){

         $("#updata").validate({

             rules: {},
             messages: {},
             submitHandler: function (form) {
                 updata();
             }

         });
     }


    function updata() {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/student/updata",
            data: $('#updata').serialize(),
            success: function (data) {
                // console.log(data)
                if (data.code == 1) {
                    //操作成功，关闭模态框
                    $('#add').modal('hide');
                    reLoad()
                    //alert("添加成功");
                } else {
                    alert(data.msg);
                }
            }
        });
    }


    function remove(id) {
        $.ajax({
            type: 'POST',
            data: {},
            url: "/student/remove/" + id,
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    reLoad()
                    //alert("删除成功");
                } else {
                    alert("删除失败");
                }
            }
        });
    }
</script>
</html>