<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head"></head>
<style>
    .select {
        display: flex;
        flex-direction: row;
    }

    .item {
        flex: 1;
    }
</style>
<body>
<div class="container-fluid">

    <ol class="breadcrumb">
        <li>学业预警</li>
        <li class="active">挂科预警</li>
    </ol>

    <div id="toolbar" class="btn-group">

        <div class="select">
            <div class="item">
                <select id="departmentId" class="form-control">
                </select>
            </div>
            <div class="item">
                <select id="majorId" class="form-control"
                        required>
                    <option value="">
                        --请选择专业--
                    </option>
                </select>
            </div>
            <div class="item">
                <select id="grade" class="form-control">

                </select>
            </div>
            <div class="item">
                <select id="clazzId" class="form-control">
                    <option value="">
                        --请选择班级--
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div id="table1">
        <table id="table_warning" data-mobile-responsive="true">
        </table>
    </div>


</div>


<div th:replace="static :: script"></div>
</body>
<script src="/js/select.js"></script>
<script src="/js/smallSelect.js"></script>
<script>
    $(document).ready(function () {
        department();
        grade();
    })
</script>
<div th:if="${session.user!=null && session.user.departmentId != null}">
    <script>
        $(document).ready(function () {
            $("#departmentId").val([[${session.user.departmentId}]])
            $('#departmentId').attr("disabled", true);
            major()
        })
    </script>
</div>
<div th:if="${session.user!=null && session.user.role > 1000 }">
    <script>
        $(document).ready(function () {
            $("#grade").val([[${session.user.role}]])
            $('#grade').attr("disabled", true);
        })
    </script>
</div>
<script>
    $(document).ready(function () {
        load()
    })


    let downParams

    $("#table1").keydown(function (e) {
        if (e.keyCode == 13) {
            let temp = null
            var contentList = document.getElementsByClassName('search-input')
            temp = contentList[0].value
            // console.log(temp)
            if (temp != null && temp != "") {
                downParams['search'] = temp
                downParams.page = 1
                $('#table_warning').bootstrapTable('refresh', {query: downParams})
            }
        }

    });

    function load() {
        $('#table_warning')
            .bootstrapTable({
                url: "/preWarning/list",                      //请求后台的URL（*）
                method: 'GET',                      //请求方式（*）
                toolbar: '#toolbar',              //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     //每页的记录行数（*）
                pageList: [10, 20, 30],        //可供选择的每页的行数（*）
                search: true,                      //是否显示表格搜索
                showSearchButton: true,
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                 //是否显示父子表
                //得到查询的参数
                queryParams: function (params) {
                    //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                    downParams = {
                        departmentId: $("#departmentId").val(),
                        majorId: $("#majorId").val(),
                        grade: $("#grade").val(),
                        clazzId: $("#clazzId").val(),
                        search: params.search,
                        pageSize: params.limit,
                    }
                    return {
                        pageSize: params.limit,                         //页面大小
                        page: (params.offset / params.limit) + 1,   //页码
                        //sort: params.sort,      //排序列名
                        //sortOrder: params.order //排位命令（desc，asc）
                        departmentId: $("#departmentId").val(),
                        majorId: $("#majorId").val(),
                        grade: $("#grade").val(),
                        clazzId: $("#clazzId").val(),
                        search: params.search
                    };
                },
                columns: [{
                    checkbox: true,
                    visible: true   //是否显示复选框
                },
                    {
                        field: 'number',
                        title: '学号',
                        align: 'center',
                    },
                    {
                        field: 'name',
                        title: '姓名',
                        align: 'center',

                    }, {
                        field: 'department_id',
                        title: '学院',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var department = {};
                            if (value != null) {
                                $.ajax({
                                    url: "/department/get/" + value,
                                    async: false,
                                    type: "GET",
                                    success: function (res) {
                                        if (res.code == 1) {
                                            department = res.data
                                        }
                                    }
                                })

                            }
                            return department != null ? department.name : "";

                        }
                    },
                    {
                        field: 'major_id',
                        title: '专业',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var major = {};
                            if (value != null) {
                                $.ajax({
                                    url: "/major/get/" + value,
                                    async: false,
                                    type: "GET",
                                    success: function (res) {
                                        if (res.code == 1) {
                                            major = res.data
                                        }
                                    }
                                })

                            }
                            return major != null ? major.name : "";
                        }
                    }
                    ,
                    {
                        field: 'clazz_id',
                        title: '班级',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var clazz = {};
                            if (value != null) {
                                $.ajax({
                                    url: "/clazz/get/" + value,
                                    async: false,
                                    type: "GET",
                                    success: function (res) {
                                        if (res.code == 1) {
                                            clazz = res.data
                                        }
                                    }
                                })
                            }

                            return clazz != null ? clazz.name : "";
                        }
                    },
                    {
                        field: 'fail',
                        title: '预警次数',
                        align: 'center',
                    },
                    {
                        field: 'study_term',
                        title: '预警学期',
                        align: 'center',
                    },
                    {
                        field: 'id',
                        title: '预警等级',
                        align: 'center',
                        formatter: function (value, row, index) {
                            if (row.fail > 4) {
                                return "<span style='color: #f00000'>红色</span>"
                            }

                            if (row.fail > 2) {
                                return "<span style='color: #F2C94C'>黄色</span>"
                            }

                            return "<span style='color: #45B649'>绿色</span>"
                        }
                    }
                ],
                formatSearch: function () {
                    return '姓名(汉字/拼音)或学号';
                },

            });
    }

    function reLoad() {
        $('#table_warning').bootstrapTable('refresh');
    }
</script>
</html>