<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>监控信息表</title>
    <style>
       /* .biaoti {
            font-family: "Microsoft Himalaya";
            font-size: 35px;
            color: red;

        }

        .btgn {
            font-family: "Microsoft YaHei UI";
            font-size: 20px;
            font-weight: bold;
            color: red;
            background-color: white;
            text-align: center;
        }

        .b {
            font-family: "Microsoft YaHei UI";
            font-size: 20px;
            color: red;
            background-color: white;
            text-align: center;
        }

        #cc {
            margin: 0 auto;
            width: 80%;
        }*/



    </style>
</head>
<body>
<div id="cc">
    <table width="80%" align="center" cellspacing="0" cellpadding="4" border="1">
        <thead>
        <tr>
            <th align="center" class="biaoti" colspan="10">东北石油大学学生学业监控信息表</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="btgn" width="10%">姓名</td>
            <td class="b" th:if="${exportStudentInfo}" th:text="${exportStudentInfo.student.name}"></td>
            <td class="btgn">性别</td>
            <td class="b" th:text="${exportStudentInfo.student.gender ? '男': '女'}"></td>
            <td class="btgn">民族</td>
            <td class="b" th:text="${exportStudentInfo.student.nation}"></td>
            <td class="btgn" colspan="4" rowspan="4">
                <img th:src="${exportStudentInfo.student.photo != null ? exportStudentInfo.student.photo :  '/images/mao.jpg' }"
                     style="height: 100px;width: 100px"/>
            </td>
        </tr>
        <tr>
            <td class="btgn">身份证号</td>
            <td class="b" th:text="${exportStudentInfo.student.idCard}">&nbsp;</td>
            <td class="btgn">入学时间</td>
            <td class="b" th:text="${#dates.format(exportStudentInfo.student.admissionDate,'yyyy-MM-dd')}"></td>
            <td class="btgn">学号</td>
            <td class="b" th:text="${exportStudentInfo.student.number}"></td>
        </tr>
        <tr>
            <td class="btgn">学院</td>
            <td class="b" th:text="${exportStudentInfo.department.name}"></td>
            <td class="btgn">专业</td>
            <td class="b" th:text="${exportStudentInfo.major.name}"></td>
            <td class="btgn">班级</td>
            <td class="b" th:text="${exportStudentInfo.clazz.name}">&nbsp;</td>
        </tr>
        <tr>
            <td class="btgn">政治面貌</td>
            <td class="b" th:text="${exportStudentInfo.student.status}">&nbsp;</td>
            <td class="btgn">宿舍号</td>
            <td class="b" th:text="${exportStudentInfo.student.room}">&nbsp;</td>
            <td class="btgn">联系方式</td>
            <td class="b" th:text="${exportStudentInfo.student.phoneNumber}">&nbsp;</td>
        </tr>
        <tr>
            <td class="btgn" colspan="10">家庭状况</td>
        </tr>
        <tr th:if="${exportStudentInfo.families.size()>0}">
            <td class="btgn">家庭成员</td>
            <td class="btgn">姓名</td>
            <td class="btgn" colspan="4">工作单位</td>
            <td class="btgn" colspan="4">联系电话</td>
        </tr>
        <tr th:each="family : ${exportStudentInfo.families}">
            <td class="btgn" th:text="${family.relationship}">父亲</td>
            <td class="b" th:text="${family.name}">&nbsp;</td>
            <td class="b" colspan="4" th:text="${family.work}">&nbsp;</td>
            <td class="b" colspan="4" th:text="${family.phoneNumber}">&nbsp;</td>
        </tr>

        <tr>
            <td class="btgn">家庭住址</td>
            <td class="b" colspan="9" th:text="${exportStudentInfo.student.address}">&nbsp;</td>
        </tr>
        <tr>
            <td class="btgn" colspan="10">奖惩</td>
        </tr>
        <tr>
            <td class="b" colspan="5">&nbsp;</td>
            <td class="b" colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td class="btgn" colspan="10">综合评价</td>
        </tr>
        <tr>
            <td class="b">&nbsp;</td>
            <td class="btgn">智育成绩</td>
            <td class="btgn">智育排名</td>
            <td class="btgn">综测成绩</td>
            <td class="btgn">综测排名</td>
            <td class="b">&nbsp;</td>
            <td class="btgn">智育成绩</td>
            <td class="btgn">智育排名</td>
            <td class="btgn">综测成绩</td>
            <td class="btgn">综测排名</td>
        </tr>
        <tr th:each="i:${#numbers.sequence(1,4)}">
            <td class="btgn" th:text="${'第'+ (i) + '学期'}"></td>
            <td class="b"
                th:text="${exportStudentInfo.score.size()>=i ? #numbers.formatDecimal(exportStudentInfo.score.get(i-1).get('avgAcademiRecoreds'), 0, 2) :''}">
                &nbsp;
            </td>
            <td class="b"
                th:text="${exportStudentInfo.score.size()>=i ? exportStudentInfo.score.get(i-1).get('major_rank'):''}">
                &nbsp;
            </td>
            <td class="b"
                th:text="${exportStudentInfo.total.size()>=i ? #numbers.formatDecimal(exportStudentInfo.total.get(i-1).get('total'), 0, 2):''}">
                &nbsp;
            </td>
            <td class="b"
                th:text="${exportStudentInfo.total.size()>=i ? exportStudentInfo.total.get(i-1).get('major_rank'):''}">
                &nbsp;
            </td>

            <td class="btgn" th:text="${'第'+ (i + 4) + '学期'}"></td>
            <td class="b"
                th:text="${exportStudentInfo.score.size()>=(i+4) ? #numbers.formatDecimal(exportStudentInfo.score.get(i+4-1).get('avgAcademiRecoreds'), 0, 2):''}">
                &nbsp;
            </td>
            <td class="b"
                th:text="${exportStudentInfo.score.size()>=(i+4) ? exportStudentInfo.score.get(i+4-1).get('major_rank'):''}">
                &nbsp;
            </td>
            <td class="b"
                th:text="${exportStudentInfo.total.size()>=(i+4) ? #numbers.formatDecimal(exportStudentInfo.total.get(i+4-1).get('total'), 0, 2):''}">
                &nbsp;
            </td>
            <td class="b"
                th:text="${exportStudentInfo.total.size()>=(i+4) ? exportStudentInfo.total.get(i+4-1).get('major_rank'):''}">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="btgn" colspan="2">CET4</td>
            <td class="btgn" colspan="2">CET6</td>
            <td class="btgn" colspan="2">累计挂科</td>
            <td class="btgn" colspan="2">成绩绩点</td>
            <td class="btgn" colspan="2">绩点排名</td>
        </tr>
        <tr>
            <td class="b" colspan="2">&nbsp;</td>
            <td class="b" colspan="2">&nbsp;</td>
            <td class="b" colspan="2" th:text="${exportStudentInfo.fail}">&nbsp;</td>
            <td class="b" colspan="2">&nbsp;</td>
            <td class="b" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="b" colspan="5" height="100px">&nbsp;</td>
            <td class="b" colspan="5" height="100px">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <button type="button" id="renderPdf" value="转成pdf">转成pdf</button>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/html2canvas/0.4.0/html2canvas.min.js"></script>
<script type="text/javascript" src="/js/jsPDF.js"></script>
<script type="text/javascript">
    let downPdf = document.getElementById("renderPdf");
    downPdf.onclick = function () {
        let ele = document.getElementById("cc")

        let eleW = ele.offsetWidth // 获得该容器的宽
        //   let eleH = ele.offsetHeight // 获得该容器的高
        let eleH = ele.scrollHeight  // 获得该容器的高
        let eleOffsetTop = ele.offsetTop  // 获得该容器到文档顶部的距离
        let eleOffsetLeft = ele.offsetLeft  // 获得该容器到文档最左的距离

        let abs = 0
        let win_in = document.documentElement.clientWidth || document.body.clientWidth   // 获得当前可视窗口的宽度（不包含滚动条）
        let win_out = window.innerWidth// 获得当前窗口的宽度（包含滚动条）
        if (win_out > win_in) {
            // abs = (win_o - win_i)/2;    // 获得滚动条长度的一半
            abs = (win_out - win_in) / 2  // 获得滚动条宽度的一半
        }

        let canvas2 = document.createElement("canvas")

        canvas2.width = eleW * 2   // 将画布宽&&高放大两倍
        canvas2.height = eleH * 2

        let context = canvas2.getContext("2d")
        context.scale(2, 2)   // 增强图片清晰度
        context.translate(-eleOffsetLeft - abs, -eleOffsetTop)

        html2canvas(document.getElementById("cc"), {
            background: "#fff",
            canvas: canvas2,
            allowTaint: true,
            useCORS: true
        }).then(can => {

            let contentWidth = can.width

            let contentHeight = can.height

            //一页pdf显示html页面生成的canvas高度;

            let pageHeight = (contentWidth / 592.28) * 841.89   // 这样写的目的在于保持宽高比例一致 pageHeight/canvas.width = a4纸高度/a4纸宽度
            // 宽度和canvas.width保持一致

            //未生成pdf的html页面高度

            let leftHeight = contentHeight

            //页面偏移
            let position = 0

            //a4纸的尺寸[595.28,841.89],单位像素，html页面生成的canvas在pdf中图片的宽高

            let imgWidth = 595.28

            let imgHeight = (595.28 / contentWidth) * contentHeight

            let pageData = can.toDataURL("image/jpeg", 1.0)

            // document.body.appendChild(pageData)
            // console.log(pageData)
            let pdf = new jsPDF("", "pt", "a4")
            //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
            //当内容未超过pdf一页显示的范围，无需分页
            if (leftHeight < pageHeight) {
                //在pdf.addImage(pageData, 'JPEG', 左，上，宽度，高度)设置在pdf中显示；
                pdf.addImage(pageData, "JPEG", 0, 50, imgWidth, imgHeight)
                // pdf.addImage(pageData, 'JPEG', 20, 40, imgWidth, imgHeight);
            } else {
                // 分页
                while (leftHeight > 0) {
                    pdf.addImage(pageData, "JPEG", 5, position, imgWidth, imgHeight)
                    leftHeight -= pageHeight
                    position -= 841.89
                    //避免添加空白页
                    if (leftHeight > 0) {
                        pdf.addPage()
                    }
                }
            }
            pdf.save(new Date().getTime() + ".pdf")
        })


    }
</script>

</html>