<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head">
</head>
<body>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li>首页</li>
        <li>学生信息</li>
        <li class="active">留级试读</li>
    </ol>
    <div class="form-group">
        <div class="col-md-3">
            <select id="departmentId" class="form-control">
            </select>
        </div>
        <div class="col-md-3">
            <select id="majorId" class="form-control"
                    required>
                <option value="">
                    --请选择专业--
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="grade" class="form-control">

            </select>
        </div>
        <div class="col-md-3">
            <select id="clazzId" class="form-control">
                <option value="">
                    --请选择班级--
                </option>
            </select>
        </div>

    </div>

    <div class="row">
        <div id="toolbar" class="btn-group ">
            <button id="btn_upload" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传
            </button>

            <button id="btn_download" type="button" class="btn btn-danger" onclick="">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>下载
            </button>

            <input type="text" id="search_key" placeholder="请输入关键字"/>

            <button type="button" class="btn btn-primary" onclick="isPass=null;reLoad()">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>未处理
            </button>

            <button type="button" class="btn btn-primary" onclick="isPass=true;reLoad();">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>已同意
            </button>

            <button type="button" class="btn btn-primary" onclick="isPass=false;reLoad();">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>已拒绝
            </button>

        </div>
    </div>


    <table id="table_retardation" data-mobile-responsive="true">
    </table>


    <!--模态框-->
    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" >
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            留级试读审批
                        </h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" onclick="yesOrNo(true)">
                            同意留级/试读
                        </button>
                        <button type="button" class="btn btn-primary" onclick="yesOrNo(false)">
                            拒绝留级/试读
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--模态框-->
   <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="update">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            修改
                        </h4>
                    </div>
                    <div class="modal-body">

                        <input id="id" name="id" class="hidden">


                        <div class="form-group">
                            <div class="col-sm-8">
                                <input id="studentId" name="studentId" class="hidden" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">原学院：</label>
                            <div class="col-sm-8">
                                <input id="oldDepartmentId" name="oldDepartmentId" class="form-control" readonly="true"   type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">原专业：</label>
                            <div class="col-sm-8">
                                <input id="oldMajorId" name="oldMajorId" class="form-control" type="text" readonly="true" required>
                            </div>
                        </div> <div class="form-group">
                        <label class="col-sm-3 control-label">原班级：</label>
                        <div class="col-sm-8">
                            <input id="oldClazzId" name="oldClazzId" class="form-control" type="text" readonly="true" required>
                        </div>
                    </div> <div class="form-group">
                        <label class="col-sm-3 control-label">新学院：</label>
                        <div class="col-sm-8">
                            <input id="newDepartmentId" name="newDepartmentId" class="form-control" readonly="true" type="text" required>
                        </div>
                    </div> <div class="form-group">
                        <label class="col-sm-3 control-label">新专业：</label>
                        <div class="col-sm-8">
                            <input id="newMajorId" name="newMajorId" class="form-control" readonly="true" type="text" required>
                        </div>
                    </div> <div class="form-group">
                        <label class="col-sm-3 control-label">新班级：</label>
                        <div class="col-sm-8">
                            <input id="newClazzId" name="newClazzId" class="form-control" type="text" readonly="true" required>
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更改日期：</label>
                            <div class="col-sm-8">
                                <input id="saveDate" name="saveDate" class="form-control" type="text" readonly="true" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">留级期间是否达到要求：</label>
                            <div class="col-sm-8">
                                <select name="isPass" class="form-control" id="isPass" required>
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">留级结果：</label>
                            <div class="col-sm-8">
                                <select name="result" class="form-control" id="result" required>
                                    <option value="true">留级</option>
                                    <option value="false">未留级</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input id="remarks" name="remarks" class="form-control" type="text" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<div th:replace="static :: script"></div>
</body>
<script src="/js/select.js"></script>
<script src="/js/smallSelect.js"></script>

<script>

    var isPass = null;

    function yesOrNo(isPass) {
        let id = $("#id").val()
        $.ajax({
            //cache: true,
            async: false,
            type: "POST",
            url: "/retardation/updateSelective/",
            dataType: "json",
            data: {"id": id, "isPass": isPass},
            success: function (res) {
                if (res.code == 1) {
                    //操作成功，关闭模态框
                    $('#message').modal('hide');
                    reLoad();
                } else {
                    // alert("修改失败");
                    $('#message').modal('hide');
                }
            }
        });
    }

    $(document).ready(function () {
        department();
        grade();
        load()
    })

    $("#update").validate({
        rules: {},
        messages: {},
        submitHandler: function (form) {
            update();
        }
    });

    $("#insert").validate({
        rules: {},
        messages: {},
        submitHandler: function (form) {
            insert();
        }
    });


    function load() {
        $('#table_retardation')
            .bootstrapTable({
                url: "/retardation/list",                      //请求后台的URL（*）
                method: 'GET',                      //请求方式（*）
                toolbar: '#toolbar',              //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                      //是否显示表格搜索
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                //得到查询的参数
                queryParams: function (params) {
                    console.log("list:" + params)
                    //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                    return {
                        pageSize: params.limit,                         //页面大小
                        page: (params.offset / params.limit) + 1,   //页码
                        //sort: params.sort,      //排序列名
                        //sortOrder: params.order //排位命令（desc，asc）
                        departmentId: $("#departmentId").val(),
                        majorId: $("#majorId").val(),
                        grade: $("#grade").val(),
                        clazzId: $("#clazzId").val(),
                        search_key: $("#search_key").val(),
                        isPass: isPass,
                    };
                },
                columns: [{
                    checkbox: true,
                    visible: true   //是否显示复选框
                }, {
                    field: 'id',
                    title: '序号',
                    align: 'center',
                }, {
                    field: 'number',
                    title: '学号',
                    align: 'center',
                }, {
                    field: 's_name',
                    title: '姓名',
                    align: 'center',
                },{
                    field: 'departmentId',
                    title: '学院',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var department = {};
                        $.ajax({
                            url: "/department/get/" + value,
                            async: false,
                            type: "GET",
                            success: function (res) {
                                if (res.code == 1) {
                                    department = res.data
                                }
                            }
                        })
                        return department != null ? department.name : "";
                    }
                }

                    , {
                        field: 'old_department_id',
                        title: '原学院',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var department = {};
                            $.ajax({
                                url: "/department/get/" + value,
                                async: false,
                                type: "GET",
                                success: function (res) {
                                    if (res.code == 1) {
                                        department = res.data
                                    }
                                }
                            })
                            return department != null ? department.name : "";
                        }
                    }, {
                        field: 'old_major_id',
                        title: '原专业',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var major = {};
                            $.ajax({
                                url: "/major/get/" + value,
                                async: false,
                                type: "GET",
                                success: function (res) {
                                    if (res.code == 1) {
                                        major = res.data
                                    }
                                }
                            })
                            return major != null ? major.name : "";
                        }
                    }, {
                        field: 'old_clazz_id',
                        title: '原班级',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var clazz = {};
                            $.ajax({
                                url: "/clazz/get/" + value,
                                async: false,
                                type: "GET",
                                success: function (res) {
                                    if (res.code == 1) {
                                        clazz = res.data
                                    }
                                }
                            })
                            return clazz != null ? clazz.name : "";
                        }
                    }, {
                        field: 'new_department_id',
                        title: '新学院',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var department = {};
                            $.ajax({
                                url: "/department/get/" + value,
                                async: false,
                                type: "GET",
                                success: function (res) {
                                    if (res.code == 1) {
                                        department = res.data
                                    }
                                }
                            })
                            return department != null ? department.name : "";
                        }
                    }, {
                        field: 'new_major_id',
                        title: '新专业',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var major = {};
                            $.ajax({
                                url: "/major/get/" + value,
                                async: false,
                                type: "GET",
                                success: function (res) {
                                    if (res.code == 1) {
                                        major = res.data
                                    }
                                }
                            })
                            return major != null ? major.name : "";
                        }
                    }, {
                        field: 'new_clazz_id',
                        title: '新班级',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var clazz = {};
                            $.ajax({
                                url: "/clazz/get/" + value,
                                async: false,
                                type: "GET",
                                success: function (res) {
                                    if (res.code == 1) {
                                        clazz = res.data
                                    }
                                }
                            })
                            return clazz != null ? clazz.name : "";
                        }
                    }, {
                        field: 'save_date',
                        title: '更改日期',
                        align: 'center',
                    }, {
                        field: 'is_pass',
                        title: '审批进度',
                        formatter: function (value, row, index) {
                            if (value == null) {
                                return "<button onclick=get(" + row.id + ") data-toggle=\"modal\" data-target=\"#message\">等待审批</button>";
                            }
                            return value ? "同意留级" : "拒绝留级";
                        }
                    }, {
                        field: 'result',
                        title: '留级结果',
                        formatter: function (value, row, index) {
                            return value ? "同意留级" : "拒绝留级";
                        },
                        align: 'center',
                    }, {
                        field: 'remarks',
                        title: '备注',
                        align: 'center',
                    },{
                        title: '操作',
                        field: 'id',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var e = '<a class="btn btn-primary btn-sm " href="#" mce_href="#"  data-toggle="modal" data-target="#edit" title="编辑" onclick="get(' + row.id + ')">编辑</a> ';
                            var d = '<a class="btn btn-warning btn-sm " href="#" title="删除"  mce_href="#" onclick="remove(\''
                                + row.id
                                + '\')">删除</a> ';

                            return e + d;
                           }
                        }]

            });
    }

    function reLoad() {
        $('#table_retardation').bootstrapTable('refresh');
    }
    function get(id) {
        console.log("id" + id)
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/retardation/getOpposite/" + id,
            data: {},
            success: function (res) {
                if (res.code == 1) {

                    console.log(res.data)
                    let retardation = res.data;
                    for (let key in retardation) {
                        if (key != "newClazzId")
                            $("#" + key).val(retardation[key]);

                        else {
                            let clazzes = retardation[key];
                            clazzes.forEach(function (element) {
                                $("#newClazzId").append("<option value='" + element.id + "'>" + element.name + "</option>")
                            })
                        }
                    }
                }
            }
        });
    }


    function update() {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/retardation/update",
            data: $('#update').serialize(),
            success: function (data) {
                if (data.code == 1) {
                    //操作成功，关闭模态框
                    $('#edit').modal('hide');
                    reLoad();
                    //alert("修改成功");
                } else {
                    alert("修改失败");
                }
            }
        });
    }


    function insert() {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/retardation/insert",
            data: $('#insert').serialize(),
            success: function (data) {
                console.log(data)
                if (data.code == 1) {
                    //操作成功，关闭模态框
                    $('#add').modal('hide');
                    reLoad()
                    //alert("添加成功");
                } else {
                    alert(data.msg);
                }
            }
        });
    }

    function remove(id) {
        $.ajax({
            type: 'POST',
            data: {},
            url: "/retardation/remove/" + id,
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    reLoad()
                    //alert("删除成功");
                } else {
                    alert("删除失败");
                }
            }
        });
    }

    function batchRemove() {
        var rows = $('#table_retardation').bootstrapTable('getSelections');
        if (rows == null) {
            alert("请选中操作的行")
            return;
        }
        //.log(rows);
        var ids = [];
        for (var i = 0; i < rows.length; i++) {
            ids[i] = rows[i].id;
        }
        //console.log(ids)
        $.ajax({
            type: 'POST',
            data: {
                ids: ids
            },
            url: "/retardation/batchRemove",
            traditional: true,//向后台传递数组时加上
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    reLoad()
                    //alert("删除成功");
                } else {
                    alert("删除失败");
                }
            }
        });
    }
</script>
</html>