<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head"></head>
<style>
    .select {
        display: flex;
        flex-direction: row;
    }

    .item {
        flex: 1;
    }
</style>
<body>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li>首页</li>
        <li>学生信息</li>
        <li class="active">休学退学</li>
    </ol>
    <div id="toolbar" class="btn-group">
        <button id="btn_download" type="button" class="btn btn-primary" onclick="download()">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>下载表格
        </button>

        <button id="btn_upload" type="button" class="btn btn-primary" onclick="">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>批量上传
        </button>

        <div class="select">
            <div class="item">
                <select id="departmentId" class="form-control">
                </select>
            </div>
            <div class="item">
                <select id="majorId" class="form-control"
                        required>
                    <option value="">
                        --请选择专业--
                    </option>
                </select>
            </div>
            <div class="item">
                <select id="grade" class="form-control">

                </select>
            </div>
            <div class="item">
                <select id="clazzId" class="form-control">
                    <option value="">
                        --请选择班级--
                    </option>
                </select>
            </div>
        </div>
    </div>

    <table id="table_suspension" data-mobile-responsive="true">
    </table>

    <!--搜索模态框-->
    <div class="modal fade" id="searchContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="searchUpdate">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input id="id4" name="id" class="hidden">
                        <input id="studentId4" name="studentId" class="hidden">
                        <div class="form-group">
                            <label for="number4" class="col-sm-3 control-label">学号：</label>
                            <div class="col-sm-8">

                                <input name="number" id="number4" class="form-control" type="text" readonly="readonly">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="stuName4" class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-8">

                                <input name="name" id="stuName4" class="form-control" type="text" readonly="readonly">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="dpName4" class="col-sm-3 control-label">所属院系：</label>
                            <div class="col-sm-8">
                                <input id="dpName4" class="form-control" type="text" readonly="readonly">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mjName4" class="col-sm-3 control-label">所属专业：</label>
                            <div class="col-sm-8">
                                <input id="mjName4" class="form-control" type="text" readonly="readonly">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="clName4"  class="col-sm-3 control-label">所属班级：</label>
                            <div class="col-sm-8">
                                <input id="clName4" class="form-control" type="text" readonly="readonly">
                            </div>
                        </div>

                        <div class="form-group">
                            <label  for="suspensionDate4" class="col-sm-3 control-label">休退学日期：</label>
                            <div class="col-sm-8">
                                <input name="suspensionDate" id="suspensionDate4" placeholder="请选择" class="form-control" type="date"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="duration4"  class="col-sm-3 control-label">休退学时长：</label>
                            <div class="col-sm-8">
                                <input name="duration" id="duration4" class="form-control" type="text"
                                       placeholder="单位：天" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="reason4" class="col-sm-3 control-label">休退学原因：</label>
                            <div class="col-sm-8">
                                <input name="reason" id="reason4" class="form-control" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="resumptionDate4"  class="col-sm-3 control-label">复学日期：</label>
                            <div class="col-sm-8">
                                <input name="resumptionDate" id="resumptionDate4" placeholder="请选择" class="form-control" type="date"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="remarks4" class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input name="remarks" id="remarks4" placeholder="请输入" class="form-control" type="text">
                            </div>
                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            休学提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--编辑模态框-->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="updata">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title">
                            编辑
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input id="id3" name="id" class="hidden">
                        <input id="stuId3" name="stuId" class="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">学号：</label>
                            <div class="col-sm-8">
                                <input name="number" id="number3" class="form-control" type="text" readonly="readonly">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-8">
                                <input name="name" id="name3" class="form-control" type="text" readonly="readonly">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属院系：</label>
                            <div class="col-sm-8">
                                <input id="dpName3" class="form-control" type="text" readonly="readonly">
                                <!--                                <select name="departmentId" class="form-control" id="departmentId3" required>-->
                                <!--                                    <option value="">-->
                                <!--                                        &#45;&#45;请选择&#45;&#45;-->
                                <!--                                    </option>-->
                                <!--                                </select>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属专业：</label>
                            <div class="col-sm-8">
                                <input id="mjName3" class="form-control" type="text" readonly="readonly">

                                <!--                                <select name="majorId" class="form-control" id="majorId3" required>-->
                                <!--                                    <option value="">-->
                                <!--                                        &#45;&#45;请选择&#45;&#45;-->
                                <!--                                    </option>-->
                                <!--                                </select>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属班级：</label>
                            <div class="col-sm-8">
                                <input id="clName3" class="form-control" type="text" readonly="readonly">
                                <!--                                <select name="clazzId" class="form-control" id="clazzId3" required>-->
                                <!--                                    <option value="">-->
                                <!--                                        &#45;&#45;请选择&#45;&#45;-->
                                <!--                                    </option>-->
                                <!--                                </select>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">休退学日期：</label>
                            <div class="col-sm-8">
                                <input name="suspensionDate" id="suspensionDate3" class="form-control" type="date"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">休退学时长：</label>
                            <div class="col-sm-8">
                                <input name="duration" id="duration3" class="form-control" type="text"
                                       placeholder="单位：天" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">休退学原因：</label>
                            <div class="col-sm-8">
                                <input name="reason" id="reason3" class="form-control" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">复学日期：</label>
                            <div class="col-sm-8">
                                <input name="resumptionDate" id="resumptionDate3" class="form-control" type="date"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input name="remarks" id="remarks3" class="form-control" type="text">
                            </div>
                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>


<div th:replace="static :: script"></div>
</body>
<script src="/js/select.js"></script>
<script>
    $(document).ready(function () {
        department();
        grade();
    })
</script>
<div th:if="${session.user!=null && session.user.departmentId != null}">
    <script>
        $(document).ready(function () {
            $("#departmentId").val([[${session.user.departmentId}]])
            $('#departmentId').attr("disabled", true);
            major()
        })
    </script>
</div>
<div th:if="${session.user!=null && session.user.role > 1000 }">
    <script>
        $(document).ready(function () {
            $("#grade").val([[${session.user.role}]])
            $('#grade').attr("disabled", true);
        })
    </script>
</div>
<script>
    $(document).ready(function () {
        load()
    })
        // s(3);
        // $("#table_suspension").bootstrapTable().initSearchText();
        // 编辑模态框
        $("#updata").validate({
            rules: {},
            messages: {},
            submitHandler: function (form) {
                updata();
            }
        });
        // 搜索模态框
        $("#searchUpdate").validate({
            rules: {},
            messages: {},
            submitHandler: function (form) {
                updateSearch();
            }
        });
    })



    let downParams

    function download() {
        let url = ""
        for (let k in downParams) {
            let value = downParams[k] != undefined ? downParams[k] : ''
            url += `&${k}=${encodeURIComponent(value)}`
        }

        window.open("/excel/download?" + (url ? url.substring(1) : ''))
    }


    function load() {
        $('#table_suspension')
            .bootstrapTable({
                url: "/suspension/list",                      //请求后台的URL（*）
                method: 'GET',                      //请求方式（*）
                toolbar: '#toolbar',              //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                      //是否显示表格搜索
                showSearchButton: true,
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                //得到查询的参数
                queryParams: function (params) {
                    downParams = {
                        departmentId: $("#departmentId").val(),
                        majorId: $("#majorId").val(),
                        grade: $("#grade").val(),
                        clazzId: $("#clazzId").val(),
                        search_key: $("#search_key").val(),
                        search: params.search,
                        type: 'suspension'
                    }
                    return {
                        pageSize: params.limit,                         //页面大小
                        page: (params.offset / params.limit) + 1,   //页码
                        //sort: params.sort,      //排序列名
                        //sortOrder: params.order //排位命令（desc，asc）
                        departmentId: $("#departmentId").val(),
                        majorId: $("#majorId").val(),
                        grade: $("#grade").val(),
                        clazzId: $("#clazzId").val(),
                        search_key: $("#search_key").val(),
                        // search: params.search

                    };
                },
                columns: [{
                    checkbox: true,
                    visible: true   //是否显示复选框
                },
                    //     {
                    //     field: 'id',
                    //     title: '序号',
                    //     align: 'center',
                    // },
                    {
                        field: 'number',
                        title: '学号',
                        align: 'center',
                    }, {
                        field: 'name',
                        title: '姓名',
                        align: 'center',
                    }, {
                        field: 'departmentId',
                        title: '学院',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var department = {};
                            if (value != null) {
                                $.ajax({
                                    //cache: true,
                                    async: false,
                                    type: "POST",
                                    url: "/department/get/" + value,
                                    dataType: "json",
                                    data: {},
                                    success: function (data) {
                                        if (data.code == 1) {
                                            department = data.data;
                                        }
                                    }
                                });
                            }
                            return department != null ? department.name : "";
                        }
                    }, {
                        field: 'majorId',
                        title: '专业',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var major = {};
                            if (value != null) {
                                $.ajax({
                                    //cache: true,
                                    async: false,
                                    type: "POST",
                                    url: "/major/get/" + value,
                                    dataType: "json",
                                    data: {},
                                    success: function (data) {
                                        if (data.code == 1) {
                                            major = data.data;
                                        }
                                    }
                                });
                            }
                            return major != null ? major.name : "";
                        }
                    }, {
                        field: 'clazzId',
                        title: '班级',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var clazz = {};
                            if (value != null) {
                                $.ajax({
                                    //cache: true,
                                    async: false,
                                    type: "POST",
                                    url: "/clazz/get/" + value,
                                    dataType: "json",
                                    data: {},
                                    success: function (data) {
                                        if (data.code == 1) {
                                            clazz = data.data;
                                        }
                                    }
                                });
                            }
                            return clazz != null ? clazz.name : "";
                        }
                    }, {
                        field: 'suspensionDate',
                        title: '休退学日期',
                        align: 'center',
                    }, {
                        field: 'duration',
                        title: '休退学时长',
                        align: 'center',
                    }, {
                        field: 'reason',
                        title: '休退学原因',
                        align: 'center',
                    }, {
                        field: 'resumptionDate',
                        title: '复学日期',
                        align: 'center',
                    }, {
                        field: 'remarks',
                        title: '备注',
                        align: 'center',
                    },
                    {
                        title: '操作',
                        field: 'id',
                        align: 'center',
                        formatter: function (value, row, index) {
                            var e = '<a class="btn btn-primary btn-sm " href="#" mce_href="#"  data-toggle="modal" data-target="#edit" title="编辑" onclick="get(' + row.id + ')">编辑</a> ';
                            var d = '<a class="btn btn-warning btn-sm " href="#" title="删除"  mce_href="#" onclick="reback(\''
                                + row.id
                                + '\')">复学</a> ';

                            return e + d;
                        }
                    }
                ]
            ,
            onSearch: function (text) {

                getBySearchText(text);
                // console.log("text>>>"+text);
                
            }

            });
    }

    function getBySearchText(text) {
        $.ajax({
            //cache: true,
            // async: false,
            type: "POST",
            url: "/suspension/getBySearchText/"+ text,
            data: {},
            success: function (data) {
                if (data.code == 1) {
                    let suspension = data.data;
                    if(suspension.length>1){
                        alert("出现重名学生，请使用学号搜索！！！")
                    }
                    else{

                        for (let key of suspension) {
                            console.log(key);
                            let temp = key
                            for(let item in temp){
                                $("#" + item + 4).val(temp[item]);
                            }
                        }
                        $("#searchContent").modal('show');
                    }

                }
                else{
                    alert(data.msg);
                }

            }
        });

    }





    function get(id) {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/suspension/getSelf/" + id,
            data: {},
            success: function (data) {
                if (data.code == 1) {
                    var suspension = data.data;
                    for (var key in suspension) {
                        $("#" + key + 3).val(suspension[key]);

                    }
                }
                else {
                    alert(data.msg);
                }
            }
        });

    }

    function updateSearch() {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/suspension/updateSearch",
            data: $('#searchUpdate').serialize(),
            success: function (data) {
                // console.log(data)
                if (data.code == 1) {
                    //操作成功，关闭模态框
                    $('#searchContent').modal('hide');
                    reLoad();
                    //alert("添加成功");
                } else {
                    alert(data.msg);
                }
            }
        });
    }

    function updata() {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/suspension/updata",
            data: $('#updata').serialize(),
            success: function (data) {
                // console.log(data)
                if (data.code == 1) {
                    //操作成功，关闭模态框
                    $('#edit').modal('hide');
                    reLoad();
                    //alert("添加成功");
                } else {
                    alert(data.msg);
                }
            }
        });
    }

    function remove(id) {
        $.ajax({
            type: 'POST',
            data: {},
            url: "/suspension/remove/" + id,
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    reLoad()
                    //alert("删除成功");
                } else {
                    alert("删除失败");
                }
            }
        });
    }

    function reback(id) {
        $.ajax({
            type: 'POST',
            data: {},
            url: "/suspension/reback/" + id,
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    reLoad()
                    //alert("删除成功");
                } else {
                    alert("删除失败");
                }
            }
        });
    }

    function reLoad() {
        $('#table_suspension').bootstrapTable('refresh');
    }
</script>
</html>