<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml http://www.thymeleaf.org">
<head th:replace="static :: head">
<body>
<div class="container-fluid">
    <ol class="breadcrumb">
        <li>首页</li>
        <li>学生信息</li>
        <li class="active">转专业</li>
    </ol>

    <div class="row">

        <div class="col-md-3 btn-group">
            <button type="button" class="btn btn-primary ">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传
            </button>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>下载
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#apply">
                开始申请
            </button>
        </div>
    </div>


    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a onclick="state='待审核';reLoad();" href="#">待审核</a></li>
            <li role="presentation"><a onclick="state='已审核';reLoad();" href="#">已审核</a></li>
            <li role="presentation">
                <a onclick="state='我的申请';reLoad()"
                   href="#">我的申请</a>
            </li>
        </ul>
    </div>

    <table id="table_transfer" data-mobile-responsive="true">
    </table>

    <!--申请审批模态框-->
    <div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="insert">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            申请审批
                        </h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">学号：</label>
                            <div class="col-sm-8">
                                <input id="number" class="form-control" name="number" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">转入学院：</label>
                            <div class="col-sm-8">
                                <!--<input id="gender" name="gender" class="form-control" type="text">-->
                                <select name="departmentId" class="form-control" id="departmentId4" required>
                                    <option value="">
                                        --请选择--
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">转入专业：</label>
                            <div class="col-sm-8">
                                <!--<input id="gender" name="gender" class="form-control" type="text">-->
                                <select name="majorId" class="form-control" id="majorId4" required>
                                    <option value="">
                                        --请选择--
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--开始审批模态框-->
    <div class="modal fade" id="check" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="checkView">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            转专业审批
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input id="check_id" name="id" class="hidden">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">学号：</label>
                            <div class="col-sm-8">
                                <input id="check_number" name="number" class="form-control" readonly="true" type="text"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-8">
                                <input id="check_name" name="name" class="form-control" readonly="true" type="text"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">转出学院：</label>
                            <div class="col-sm-8">
                                <input id="check_old_department_name" name="oldDepartmentId" class="form-control"
                                       readonly="true" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">转出专业：</label>
                            <div class="col-sm-8">
                                <input id="check_old_major_name" name="oldMajorId" class="form-control" readonly="true"
                                       type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">转出班级：</label>
                            <div class="col-sm-8">
                                <input id="check_old_clazz_name" name="oldClazzId1" class="form-control" readonly="true"
                                       type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">转入学院：</label>
                            <div class="col-sm-8">
                                <input id="check_new_department_name" name="newDepartmentId" class="form-control"
                                       readonly="true"
                                       type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">转入专业：</label>
                            <div class="col-sm-8">
                                <input id="check_new_major_name" name="newMajorId" class="form-control" readonly="true"
                                       type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">转入班级：</label>
                            <div class="col-sm-8">
                                <select id="check_new_clazz_id" class="form-control" required>
                                    <option value="">
                                        --请选择--
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="yesOrNo(false)">
                            拒绝
                        </button>
                        <button type="button" class="btn btn-primary" onclick="yesOrNo(true)">
                            同意
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--已审批进行编辑模态框-->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="update">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                            转专业消息
                        </h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">学号：</label>
                            <div class="col-sm-8">
                                <input id="number2" class="form-control" name="number" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">转入学院：</label>
                            <div class="col-sm-8">
                                <!--<input id="gender" name="gender" class="form-control" type="text">-->
                                <select name="departmentId" class="form-control" id="departmentId3" required>
                                    <option value="">
                                        --请选择--
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">转入专业：</label>
                            <div class="col-sm-8">
                                <!--<input id="gender" name="gender" class="form-control" type="text">-->
                                <select name="majorId" class="form-control" id="majorId3" required>
                                    <option value="">
                                        --请选择--
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            确定
                        </button>
                    </div>
                </form>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
<div th:replace="static :: script"></div>
</body>
<script src="/js/utils.js"></script>
<script src="/js/smallSelect.js"></script>
<script>
    let state = '待审核'
    let utils = new Utils()

    function check(id) {
        let row = $('#table_transfer').bootstrapTable('getRowByUniqueId', id)
        $("#check_id").val(row.id)
        $("#check_number").val(row.number)
        $("#check_name").val(row.name)
        $("#check_old_department_name").val(row.old_department_name)
        $("#check_old_major_name").val(row.old_major_name)
        $("#check_old_clazz_name").val(row.old_clazz_name)
        $("#check_new_department_name").val(row.new_department_name)
        $("#check_new_major_name").val(row.new_major_name)
        let newClazz = $("#check_new_clazz_id");
        let clazzs = utils.get("/select/clazz?majorId=" + row.new_major_id + "&departmentId=" + row.new_department_id)
        clazzs.forEach(function (r, i, rs) {
            newClazz.append("<option value='" + r.id + "'>" + r.name + "</option>")
        })

    }

    function check2(id) {
        let row = $('#table_transfer').bootstrapTable('getRowByUniqueId', id)
        $("#check_id").val(row.id)
        $("#check_number").val(row.number)
        $("#check_name").val(row.name)
        $("#check_old_department_name").val(row.old_department_name)
        $("#check_old_major_name").val(row.old_major_name)
        $("#check_old_clazz_name").val(row.old_clazz_name)
        $("#check_new_department_name").val(row.new_department_name)
        $("#check_new_major_name").val(row.new_major_name)
        let newClazz = $("#check_new_clazz_id");
        let clazzs = utils.get("/select/clazz?majorId=" + row.new_major_id + "&departmentId=" + row.new_department_id)
        clazzs.forEach(function (r, i, rs) {
            newClazz.append("<option value='" + r.id + "'>" + r.name + "</option>")
        })
        newClazz.val(row.new_clazz_id)

    }

    function myApply(id) {
        let row = $('#table_transfer').bootstrapTable('getRowByUniqueId', id)
        $("#check_id").val(row.id)


    }

    function yesOrNo(isPass) {
        let id = $("#id").val()
        $.ajax({
            //cache: true,
            //async: true,
            type: "POST",
            url: "/transfer/examine/",
            dataType: "json",
            data: {"id": id, "isPass": isPass},
            success: function (res) {
                if (res.code == 1) {
                    //操作成功，关闭模态框
                    $('#check').modal('hide');
                    reLoad();
                } else {
                    alert("修改失败");
                    $('#check').modal('hide');
                }
            }
        });
    }

    $(document).ready(function () {
        load();
        s(4);
        s(3);

        $("#update").validate({
            rules: {},
            messages: {},
            submitHandler: function (form) {
                update();
            }
        });

        $("#checkView").validate({
            rules: {},
            messages: {},
            submitHandler: function (form) {
                checkView();
            }
        });

        $("#insert").validate({
            rules: {},
            messages: {},
            submitHandler: function (form) {
                insert();
            }
        });
    });


    function load() {
        $('#table_transfer')
            .bootstrapTable({
                url: "/transfer/list",              //请求后台的URL（*）
                method: 'GET',                      //请求方式（*）
                //toolbar: '#toolbar',              //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     //每页的记录行数（*）
                pageList: [10, 20, 30],        //可供选择的每页的行数（*）
                search: false,                      //是否显示表格搜索
                strictSearch: false,
                showColumns: false,                  //是否显示所有的列（选择显示的列）
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                //得到查询的参数
                queryParams: function (params) {
                    //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                    return {
                        pageSize: params.limit,                         //页面大小
                        page: (params.offset / params.limit) + 1,   //页码
                        //sort: params.sort,      //排序列名
                        //sortOrder: params.order //排位命令（desc，asc）
                        department: [[${session.user.departmentId == null ? 'null' : session.user.departmentId}]],
                        search_key: $("#search_key").val(),
                        state: state,
                    };
                },
                onPreBody: function (data) {
                    if (data != null) {
                        data.forEach(function (row, index, rows) {
                            row.old_department_name = utils.get("/department/get/" + row.old_department_id).name
                            row.old_major_name = utils.get("/major/get/" + row.old_major_id).name
                            row.old_clazz_name = utils.get("/clazz/get/" + row.old_clazz_id).name
                            row.new_department_name = utils.get("/department/get/" + row.new_department_id).name
                            row.new_major_name = utils.get("/major/get/" + row.new_major_id).name
                        })
                    }
                },
                columns: [{
                    checkbox: true,
                    visible: true                  //是否显示复选框
                }, {
                    field: 'number',
                    title: '学号',
                    align: 'center',

                }, {
                    field: 'grade',
                    title: '年级',
                    align: 'center',

                }, {
                    field: 'name',
                    title: '姓名',
                    align: 'center',
                }, {
                    field: 'old_department_name',
                    align: 'center',
                    title: '转出学院',
                }, {
                    field: 'old_major_name',
                    align: 'center',
                    title: '转出专业',
                }, {
                    field: 'old_clazz_name',
                    align: 'center',
                    title: '转出班级',
                }, {
                    field: 'new_department_name',
                    align: 'center',
                    title: '转入学院',
                }, {
                    field: 'new_major_name',
                    align: 'center',
                    title: '转入专业',
                }, {
                    field: 'new_clazz_name',
                    align: 'center',
                    title: '转入班级',
                }, {
                    field: 'old_out_date',
                    align: 'center',
                    title: '转出时间',
                }, {
                    field: 'new_in_date',
                    align: 'center',
                    title: '转入时间',
                }, {
                    field: 'is_pass',
                    align: 'center',
                    title: '审批进度',
                    formatter: function (value, row, index) {
                        if (value == null) {
                            return "等待审批";
                        }
                        return value ? "同意转入" : "拒绝转入";
                    }
                }, {
                    title: '操作',
                    field: 'id',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var tran = {}
                        for (let field in row) {
                            tran[field] = row[field]
                        }
                        if (state == "待审核") {
                            return '<a class="btn btn-primary btn-sm ' + '" href="#" mce_href="#"  data-toggle="modal" data-target="#check" onclick="check(' + row.id + ')">开始审批</a> ';
                        } else if (state == "已审核") {
                            return '<a class="btn btn-primary btn-sm ' + '" href="#" mce_href="#"  data-toggle="modal" data-target="#check" title="编辑" onclick="check2(' + tran + ')">编辑</a> ';
                        } else if (state == "我的申请" && row.is_pass == null) {
                            return '<a class="btn btn-primary btn-sm ' + '" href="#" mce_href="#"  data-toggle="modal" data-target="#edit" title="编辑" onclick="myApply">编辑</a> ' +
                                '<a class="btn btn-warning btn-sm " href="#" title="删除"  mce_href="#" onclick="remove(\''
                                + row.id
                                + '\')">删除</a> ';
                        }
                    }
                }]
            });
    }


    function reLoad() {
        $('#table_transfer').bootstrapTable('refresh');
    }


    function update() {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/transfer/update",
            data: $('#update').serialize(),
            success: function (data) {
                if (data.code == 1) {
                    //操作成功，关闭模态框
                    $('#edit').modal('hide');
                    reLoad();
                    alert("修改成功");
                } else {
                    alert("修改失败");
                }
            }
        });
    }


    function insert() {
        $.ajax({
            //cache: true,
            type: "POST",
            url: "/transfer/insert",
            data: $('#insert').serialize(),
            success: function (data) {
                console.log(data)
                if (data.code == 1) {
                    //操作成功，关闭模态框
                    $('#apply').modal('hide');
                    reLoad()
                    //alert("添加成功");
                } else {
                    alert(data.msg);
                }
            }
        });
    }

    function remove(id) {
        $.ajax({
            type: 'POST',
            data: {},
            url: "/transfer/remove/" + id,
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    reLoad()
                    //alert("删除成功");
                } else {
                    alert("删除失败");
                }
            }
        });
    }

    function batchRemove() {
        var rows = $('#table_transfer').bootstrapTable('getSelections');
        if (rows == null) {
            alert("请选中操作的行")
            return;
        }
        //.log(rows);
        var ids = [];
        for (var i = 0; i < rows.length; i++) {
            ids[i] = rows[i].id;
        }
        //console.log(ids)
        $.ajax({
            type: 'POST',
            data: {
                ids: ids
            },
            url: "/transfer/batchRemove",
            traditional: true,//向后台传递数组时加上
            dataType: "json",
            success: function (data) {
                if (data.code == 1) {
                    reLoad()
                    //alert("删除成功");
                } else {
                    alert("删除失败");
                }
            }
        });
    }


</script>
</html>