<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:v-model="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="学生管理系统">
    <meta name="description" content="学生管理系统">
    <meta name="author" content="AUI, a-ui.com">
    <title>登录</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <!-- jquery.js -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- vue.js -->
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->

    <!-- vue-resource.min.js -->
    <script
            src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- vue-router.js -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="aui-flexView clearfix" id="page">
    <div class="aui-login-bg">
        <img src="body-bg.png" alt="">
    </div>
    <div class="aui-login-box">
        <h2 class="aui-login-title">学生管理系统</h2>
        <form action="" class="aui-login-form">
            <div v-if="isLogin">
                <p>
                    <i class="icon icon-user"></i>
                    <input type="text"  placeholder="用户名/邮箱/手机号" id="inputEmail3" v-model:value="username">
                </p>
                <p>
                    <i class="icon icon-pass"></i>
                    <input type="password" placeholder="密码" id="inputPassword3" v-model:value="password">
                    <!--<a href="javascript:;" class="aui-forget">忘记密码？</a>-->
                </p>
            </div>

            <div v-if="!isLogin">
                <p>
                    <i class="icon icon-user"></i>
                    <input type="text" placeholder="邮箱" id="inputEmail1" v-model:value="email">
                </p>

                <p>
                    <!--                <div class="input-group">-->
                    <i class="icon icon-code"></i>
                    <input type="text"  placeholder="验证码" id="captcha" name="captcha" v-model:value="captcha">
                    <span>
                        <button  class="aui-button" type="button" @click="send()">获取验证码</button>
                    </span>
                </p>
                <!--                </div>-->
            </div>

            <div>
                <a @click="isLogin = !isLogin">{{isLogin ? '邮箱登录' : '用户名密码登录'}}</a>
            </div>
            <button type="button" class="aui-button-go" @click="login">登录</button>

        </form>
    </div>
</div>
</body>

<script type="text/javascript">
    //设置页面baseURL
    //Vue.http.options.root = 'http://127.0.0.1/';
    var page = new Vue({
        el: '#page',
        data: {
            isLogin: true,
            password: "123",
            username: "mao",
            captcha: null,
            email: null
        },
        methods: {
            doLogin: function (url) {
                //解决后台接收不到参数的问题
                var data = new URLSearchParams();
                data.append('username', this.username)
                data.append('password', this.password)
                axios.post(url, data)
                    .then(function (res) {
                        //console.log(res)
                        if (res.data.code == 1) {
                            window.location.href = "/index";
                        } else {
                            alert(res.data.msg)
                        }
                    })
                    .catch(function (error) {
                        alert(error)
                    });
            },
            emailLogin: function () {
                //解决后台接收不到参数的问题
                var data = new URLSearchParams();
                data.append('email', this.email)
                data.append('captcha', this.captcha)

                axios.post("/login/emailLogin", data)
                    .then(function (res) {
                        //console.log(res)
                        if (res.data.code == 1) {
                            window.location.href = "/index";
                        } else {
                            alert(res.data.msg)
                        }
                    })
                    .catch(function (error) {
                        alert(error)
                    });
            },
            login: function () {
                if (this.isLogin)

                    this.doLogin("/login/admin")
                else
                    this.emailLogin()
            },
            send: function () {
                //解决后台接收不到参数的问题
                var data = new URLSearchParams();
                data.append('email', this.email)
                axios.post("/login/send", data)
                    .then(function (res) {
                        //console.log(res)
                        if (res.data.code == 1) {
                            alert("已发送,60秒内有效")
                        } else {
                            alert(res.data.msg)
                        }
                    })
                    .catch(function (error) {
                        alert(error)
                    });
            }
        }
    })
</script>
</html>
