<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/fonts/circular-std/style.css">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/vector-map/jqvmap.css">
    <link rel="stylesheet" href="assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/daterangepicker/daterangepicker.css"/>
    <title></title>
</head>
<style>
    html, body {
        height: 100%;
    }

    .contain {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .header {
        height: 83px;
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    .left {
        width: 264px;
        height: 100%;
        display: block;
    }

    .right {
        flex: 1;
        height: 100%;
        background-color: white;
        padding: 5px 5px;
    }

    iframe {
        height: 100%;
    }
</style>
<body>
<div class="contain">
    <div class="header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="index.html">学生全过程监控系统</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="images/user.png" alt="" class="user-avatar-md rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                             aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">欢迎您，老师 </h5>
                                <!--                                <span class="status"></span><span class="ml-2">Available</span>-->
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>修改密码</a>
                            <!--                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>退出登录</a>-->
                            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="main">
        <div class="left">
            <div class="nav-left-sidebar sidebar-dark">
                <div class="menu-list menu">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!--                <a class="d-xl-none d-lg-none" href="#">首页</a>-->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-divider">
                                    <a role="button" style="text-decoration: none;color: white;font-size: 17px"
                                       data-toggle="collapse"
                                       data-parent="#accordion" href="#" onclick="goto('/index/home')"
                                       aria-expanded="true"
                                       aria-controls="collapseS">
                                        首页
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                       data-target="#submenu-1" aria-controls="submenu-1">
                                        <i class="fa fa-fw fa-user-circle"></i>
                                        学生信息
                                        <span class="badge badge-success">6</span>
                                    </a>
                                    <div id="submenu-1" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="goto('/student')"
                                                   href="#student">基本信息</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="goto('/preWarning')"
                                                   href="#preWarning">学业预警</a>
                                            </li>
                                            <!--<li class="nav-item">
                                                <a class="nav-link" href="index.html">家庭</a>
                                            </li>-->
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="goto('/retardation')"
                                                   href="#retardation">留级试读</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="goto('/suspension')"
                                                   href="#suspension">休学退学</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="goto('/transfer')"
                                                   href="#transfer">转专业</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="goto('/monitoring')"
                                                   href="#monitoring">学业监控</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                       data-target="#submenu-2" aria-controls="submenu-2"><i
                                            class="fa fa-fw fa-rocket"></i>成绩管理</a>
                                    <div id="submenu-2" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a onclick="goto('/score')"
                                                   href="#score" class="nav-link">智育成绩</a>
                                            </li>
                                            <li class="nav-item">
                                                <a onclick="goto('/score/total')"
                                                   href="#assessment" class="nav-link">综合测评</a>
                                            </li>
                                            <li class="nav-item">
                                                <a onclick="goto('/bprank')"
                                                   href="#bprank" class="nav-link">绩点排名</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                       data-target="#submenu-3" aria-controls="submenu-3"><i
                                            class="fas fa-fw fa-chart-pie"></i>奖助贷惩</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="goto('/employment')" href="#employment"
                                       data-toggle="collapse"
                                       aria-expanded="false"
                                       data-target="#submenu-4" aria-controls="submenu-4"><i
                                            class="fab fa-fw fa-wpforms"></i>就业情况</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                       data-target="#submenu-5" aria-controls="submenu-5"><i
                                            class="fas fa-fw fa-inbox"></i>办事机构</a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="right">
            <iframe id="frame" src="/index/home" frameborder="0" scrolling="auto"
                    style="min-height:600px;width:100%;height:100%;"
                    seamless></iframe>
        </div>

    </div>

</div>
<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- chart chartist js -->
<script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<script src="assets/vendor/charts/chartist-bundle/Chartistjs.js"></script>
<script src="assets/vendor/charts/chartist-bundle/chartist-plugin-threshold.js"></script>
<!-- chart C3 js -->
<script src="assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<!-- chartjs js -->
<script src="assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>
<script src="assets/vendor/charts/charts-bundle/chartjs.js"></script>
<!-- sparkline js -->
<script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- dashboard finance js -->
<script src="assets/libs/js/dashboard-finance.js"></script>
<!-- main js -->
<script src="assets/libs/js/main-js.js"></script>
<!-- gauge js -->
<script src="assets/vendor/gauge/gauge.min.js"></script>
<!-- morris js -->
<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<script src="assets/vendor/charts/morris-bundle/morrisjs.html"></script>
<!-- daterangepicker js -->
<script src="../../../../cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="../../../../cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });

    function goto(url) {
        $("#frame").attr("src", url);
    }

    /*
        function calcPageHeight(doc) {
            var cHeight = Math.max(doc.body.clientHeight, doc.documentElement.clientHeight)
            var sHeight = Math.max(doc.body.scrollHeight, doc.documentElement.scrollHeight)
            var height = Math.max(cHeight, sHeight)
            return height
        }

        //根据ID获取iframe对象
        var ifr = document.getElementById('frame')
        ifr.onload = function () {
            //解决打开高度太高的页面后再打开高度较小页面滚动条不收缩
            ifr.style.height = '0px';
            var iDoc = ifr.contentDocument || ifr.document
            var height = calcPageHeight(iDoc)
            // if (height < 850) {
            //     height = 850;
            // }
            ifr.style.height = height + 'px'
        }*/
</script>
</body>
</html>
