<nav th:fragment="menu" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#" onclick="goto('/index/home')">
                    <span data-feather="home"></span>
                    首页 <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav nav-list">
                <a class="nav-link" data-toggle="collapse" href="#collapseMenu" role="button">
                    学生信息
                </a>

                <div id="collapseMenu" class="collapse navbar-collapse" aria-expanded="false">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a onclick="goto('/student')" href="#student" class="nav-link"><kbd>基本信息</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/preWarning')" href="#preWarning" class="nav-link"><kbd>学业预警</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/retardation')" href="#retardation" class="nav-link"><kbd>留级试读</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/suspension')" href="#suspension" class="nav-link"><kbd>休学退学</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/transfer')" href="#transfer" class="nav-link"><kbd>转专业</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/monitoring')" href="#monitoring" class="nav-link"><kbd>学业监控</kbd></a>
                        </li>
                    </ul>
                </div>


            </li>
            <li class="nav-item">
                <a onclick="goto('/score')" href="#score"
                   class="nav-link">成绩管理</a>
            </li>

            <li class="nav-item">
                <a onclick="goto('/reward')" href="#reward"
                   class="nav-link">奖助贷惩</a>
            </li>

            <li class="nav-item">
                <a onclick="goto('/employment')" href="#employment"
                   class="nav-link">就业情况</a>
            </li>

            <li class="nav-item">
                <a onclick="goto('/office')" href="#office"
                   class="nav-link">办公机构</a>
            </li>

        </ul>
    </div>
</nav>

<!--office-->