<nav th:fragment="menu" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column" style="height: 650px;background-color: #1c232f">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingS">
                        <h4 class="panel-title text-center">
                            <a role="button" style="text-decoration: none;color: white;" data-toggle="collapse"
                               data-parent="#accordion" href="#" onclick="goto('/index/home')" aria-expanded="true"
                               aria-controls="collapseS">
                                首页
                            </a>
                        </h4>
                    </div>
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title text-center">
                            <a role="button" style="text-decoration: none;color: white;" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                                学生信息
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <a style="text-decoration: none;color: #1c232f;" onclick="goto('/student')"
                                   href="#student" class="list-group-item">基本信息</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;color: #1c232f;" onclick="goto('/preWarning')"
                                   href="#preWarning" class="list-group-item">学业预警</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;color: #1c232f;" onclick="goto('/family')"
                                   href="#family" class="list-group-item">家庭</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;color: #1c232f;" onclick="goto('/retardation')"
                                   href="#retardation" class="list-group-item">留级试读</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;color: #1c232f;" onclick="goto('/suspension')"
                                   href="#suspension" class="list-group-item">休学退学</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;color: #1c232f;" onclick="goto('/transfer')"
                                   href="#transfer" class="list-group-item">转专业</a>
                            </li>
                            <li class="list-group-item">
                                <a style="text-decoration: none;color: #1c232f;" onclick="goto('/monitoring')"
                                   href="#monitoring" class="list-group-item">学业监控</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title text-center">
                            <a class="collapsed" style="text-decoration: none;color: white;" role="button"
                               data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                               aria-controls="collapseTwo">
                                成绩管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <ul class="list-group text-center">
                            <li style="text-decoration: none;color: #1c232f;" class="list-group-item">智育成绩</li>
                            <li style="text-decoration: none;color: #1c232f;" class="list-group-item">综合测评</li>
                            <li style="text-decoration: none;color: #1c232f;" class="list-group-item">绩点排名</li>

                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title text-center">
                            <a role="button" style="text-decoration: none;color: white;" data-toggle="collapse"
                               data-parent="#accordion" href="#" onclick="goto('/employment')" aria-expanded="true"
                               aria-controls="collapseS">
                                奖助贷惩
                            </a>
                        </h4>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title text-center">
                            <a role="button" style="text-decoration: none;color: white;" data-toggle="collapse"
                               data-parent="#accordion" href="#" onclick="goto('/employment')" aria-expanded="true"
                               aria-controls="collapseS">
                                就业情况
                            </a>
                        </h4>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title text-center">
                            <a role="button" style="text-decoration: none;color: white;" data-toggle="collapse"
                               data-parent="#accordion" href="#" onclick="goto('/employment')" aria-expanded="true"
                               aria-controls="collapseS">
                                办事机构
                            </a>
                        </h4>
                    </div>
                </div>

            </div>

        </ul>
    </div>
</nav>
<!--<li class="nav nav-list">
                <a class="nav-link" data-toggle="collapse" href="#collapseMenu" role="button">
                    学生信息
                </a>

                <div id="collapseMenu" class="collapse navbar-collapse" aria-expanded="false">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a onclick="goto('/student')" href="#student" class="nav-link"><kbd>基本信息</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/preWarning')" href="#preWarning" class="nav-link"><kbd>学业预警</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/family')" href="#family" class="nav-link"><kbd>家庭</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/retardation')" href="#retardation" class="nav-link"><kbd>留级试读</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/suspension')" href="#suspension" class="nav-link"><kbd>休学退学</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/transfer')" href="#transfer" class="nav-link"><kbd>转专业</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a onclick="goto('/monitoring')" href="#monitoring" class="nav-link"><kbd>学业监控</kbd></a>
                        </li>
                    </ul>
                </div>


            </li>
            <li class="nav-item">
                <a onclick="goto('/score')" href="#score"
                   class="nav-link">成绩管理</a>
            </li>

            <li class="nav-item">
                <a onclick="goto('/reward')" href="#reward"
                   class="nav-link">奖助贷惩</a>
            </li>

            <li class="nav-item">
                <a onclick="goto('/employment')" href="#employment"
                   class="nav-link">就业情况</a>
            </li>

            <li class="nav-item">
                <a onclick="goto('/office')" href="#office"
                   class="nav-link">办公机构</a>
            </li>

        </ul>
    </div>
</nav>-->
