<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link href="/css/bootstrap-table.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">-->
</head>

<div th:fragment="script">
    <!-- jquery.js -->
    <script src="/js/jquery.js"></script>

    <!--<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>-->
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <!-- vue.js -->
    <script src="/js/vue.js"></script>
    <!-- vue.js -->
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <!-- vue-resource.min.js -->
    <script src="/js/vue-resource.min.js"></script>
    <!-- vue-router.js -->
    <script src="/js/vue-router.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>

    <!--<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>-->

    <script src="/js/bootstrap-table.min.js"></script>
    <script src="/js/bootstrap-table-mobile.min.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
</div>