<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link href="/css/bootstrap-table.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">-->
</head>

<div th:fragment="script">
    <!-- jquery.js -->  <script src="/js/jquery.js"></script>


    <!--<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>-->
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>

    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

    <!--&lt;!&ndash; vue.js &ndash;&gt;-->
    <!--<script src="/js/vue.js"></script>-->
    <!--&lt;!&ndash; vue.js &ndash;&gt;-->
    <!--&lt;!&ndash; <script src="https://unpkg.com/vue/dist/vue.js"></script> &ndash;&gt;-->
    <!--&lt;!&ndash; vue-resource.min.js &ndash;&gt;-->
    <!--<script src="/js/vue-resource.min.js"></script>-->
    <!--&lt;!&ndash; vue-router.js &ndash;&gt;-->
    <!--<script src="/js/vue-router.js"></script>-->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>

    <!--<script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <!--<script src="/js/bootstrap-table.min.js"></script>-->
    <!--<script src="/js/bootstrap-table-mobile.min.js"></script>-->
    <!--<script src="/js/bootstrap-table-zh-CN.js"></script>-->
</div>