<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head"></head>
<style>
    .menu {
        position: fixed;
    }
</style>
<body>
<div class="container">

    <ol class="breadcrumb">
        <li>上传</li>
    </ol>


    <!--  <div class="left col-md-2">
          <ul class="menu nav nav-pills nav-stacked">
              <li role="presentation"><a href="javascript:window.history.go(-1)">返回</a></li>
              <li role="presentation"><a href="#student">学生</a></li>
              <li role="presentation"><a href="#course">课程</a></li>
              <li role="presentation"><a href="#employment">就业</a></li>
              <li role="presentation"><a href="#transfer">转专业</a></li>
              <li role="presentation"><a href="#suspension">退休学</a></li>
              <li role="presentation"><a href="#retardation">留级</a></li>
              <li role="presentation"><a href="#reward">奖惩</a></li>
              <li role="presentation"><a href="#score">分数</a></li>
          </ul>
      </div>-->
    <!--  <div class="main col-md-10">
      </div>-->
    <div class="row">


        <div id="student" class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">学生</div>
                <div class="panel-body">
                    <!--<form action="/excel/upload" method="post" enctype="multipart/form-data">-->
                    <div class="form-group">
                        <label>上传</label>
                        <input type="file" name="file" id="file_stu">
                    </div>
                    <input name="type" type="text" class="hidden" value="student">
                    <input type="button" value="上传" class="btn btn-default"
                           onclick="upload('/excel/upload' ,'student','file_stu')">
                    <a href="/excel/downloadExcel/学生基本信息表模板.xlsx">学生基本信息表模板,点击下载</a>
                    <!--</form>-->
                </div>
            </div>
        </div>

        <!-- <div id="course" class="col-sm-6">
             <div class="panel panel-info">
                 <div class="panel-heading">课程</div>
                 <div class="panel-body">
                     <form action="/excel/upload" method="post" enctype="multipart/form-data">
                         <div class="form-group">
                             <label>上传</label>
                             <input type="file" name="file">
                         </div>
                         <input name="type" type="text" class="hidden" value="course">
                         <input type="submit" value="上传" class="btn btn-default">
                         <a href="/excel/downloadExcel/课程表模板.xlsx">课程表模板,点击下载</a>
                     </form>
                 </div>
             </div>
         </div>-->

        <div id="employment" class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">就业</div>
                <div class="panel-body">
                    <!--<form action="/excel/upload" method="post" enctype="multipart/form-data">-->
                    <div class="form-group">
                        <label>上传</label>
                        <input type="file" name="file" id="file_emp">
                    </div>
                    <input name="type" type="text" class="hidden" value="employment">
                    <input type="button" value="上传" class="btn btn-default"
                           onclick="upload('/excel/upload' ,'employment','file_emp')">
                    <a href="/excel/downloadExcel/就业表模板.xlsx">就业情况表模板,点击下载</a>
                    <!--</form>-->
                </div>
            </div>
        </div>

        <div id="reward" class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">奖惩</div>
                <div class="panel-body">
                    <!--<form action="/excel/upload" method="post" enctype="multipart/form-data">-->
                    <div class="form-group">
                        <label>上传</label>
                        <input type="file" name="file" id="file_rew">
                    </div>
                    <input name="type" type="text" class="hidden" value="reward">
                    <input type="button" value="上传" class="btn btn-default"
                           onclick="upload('/excel/upload' ,'reward','file_rew')">
                    <a href="/excel/downloadExcel/奖惩表.xlsx">奖惩表模板,点击下载</a>
                    <!--</form>-->
                </div>
            </div>
        </div>

        <div id="score" class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">成绩</div>
                <div class="panel-body">
                    <!--<form action="/excel/upload" method="post" enctype="multipart/form-data">-->
                    <div class="form-group">
                        <label>上传</label>
                        <input type="file" name="file" id="file_sco">
                    </div>
                    <input name="type" type="text" class="hidden" value="score">
                    <input type="button" value="上传" class="btn btn-default"
                           onclick="upload('/excel/upload' ,'score','file_sco')">
                    <a href="/excel/downloadExcel/成绩模板表.xls">成绩表模板,点击下载</a>
                    <!--</form>-->
                </div>
            </div>
        </div>


        <div id="teacher" class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">老师</div>
                <div class="panel-body">
                    <!--<form action="/excel/upload" method="post" enctype="multipart/form-data">-->
                    <div class="form-group">
                        <label>上传</label>
                        <input type="file" name="file" id="file_tea">
                    </div>
                    <input name="type" type="text" class="hidden" value="teacher">
                    <input type="button" value="上传" class="btn btn-default"
                           onclick="upload('/excel/upload' ,'teacher','file_tea')">
                    <a href="/excel/downloadExcel/教工表.xlsx">教工表模板,点击下载</a>
                    <!--</form>-->
                </div>
            </div>
        </div>
        <!--
                    <div id="retardation" class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">留级表</div>
                            <div class="panel-body">
                                <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>上传</label>
                                        <input type="file" name="file">
                                    </div>
                                    <input name="type" type="text" class="hidden" value="retardation">
                                    <input type="submit" value="上传" class="btn btn-default">
                                    <a href="/excel/downloadExcel/留级表.xlsx">留级表模板,点击下载</a>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="transfer" class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">转专业</div>
                            <div class="panel-body">
                                <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>上传</label>
                                        <input type="file" name="file">
                                    </div>
                                    <input name="type" type="text" class="hidden" value="transfer">
                                    <input type="submit" value="上传" class="btn btn-default">
                                    <a href="/excel/downloadExcel/转专业表模板.xlsx">转专业表模板,点击下载</a>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="suspension" class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">退休学</div>
                            <div class="panel-body">
                                <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>上传</label>
                                        <input type="file" name="file">
                                    </div>
                                    <input name="type" type="text" class="hidden" value="suspension">
                                    <input type="submit" value="上传" class="btn btn-default">
                                    <a href="/excel/downloadExcel/退休学模板表.xlsx">退休学模板表,点击下载</a>
                                </form>
                            </div>
                        </div>
                    </div>-->
    </div>


    <div class="modal fade" id="onStep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">进度</h4>
                </div>
                <div class="modal-body" style="color: red;">
                    正在上传中,请稍后...
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">数据上传须知</h4>
                </div>
                <div class="modal-body" style="color: red;">
                    <h1 class="text-center">注意事项</h1>
                    <ol>
                        <li class="lead">
                            <p>按照表格示例格式进行填写；</p>
                        </li>
                        <li class="lead">
                            <p>如果没有相关信息就空，不要填“无”；</p>
                        </li>
                        <li class="lead">
                            <p>表格内容务必准确，不能填写无效数据；</p>
                        </li>
                        <li class="lead">
                            <p> 填写过后检查无误后再进行上传，否则会上传失败；</p>
                        </li>
                        <li class="lead">
                            <p>表格上传速度较慢，请耐心等待;</p>
                        </li>
                        <li class="lead">
                            <p>请先将学生信息上传，学生信息上传完毕后才可以传入其他信息。</p>
                        </li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">已阅读</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#myModal').modal('show')
    })

    function upload(url, type, fileId) {
        $('#onStep').modal('show')
        let formData = new FormData();
        // formData.append("file", $("#img")[0].files[0]);//生成一对表单属性
        // var files = $("#files")[0].files;
        let file = $("#" + fileId);
        if (file == null) {
            alert("请选择文件")
            return
        }
        formData.append('file', file[0].files[0]);
        formData.append("type", type);
        $.ajax({
            type: "POST",//因为是传输文件，所以必须是post
            url: url,//对应的后台处理类的地址
            data: formData,
            processData: false,
            contentType: false,
            //enctype: 'multipart/form-data',
            success: function (data) {
                $('#onStep').modal('hide')
                if (data.code > 0) {
                    alert("上传成功")
                } else {
                    alert("上传失败")
                }
            }
        });
    }

</script>
</body>
</html>