<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head"></head>
<style>
    .menu {
        position: fixed;
    }
</style>
<body>
<div class="container-fluid">

    <ol class="breadcrumb">
        <li>首页</li>
        <li>上传</li>
    </ol>

    <div class="row">
        <div class="left col-md-2">
            <ul class="menu nav nav-pills nav-stacked">
                <li role="presentation"><a href="javascript:window.history.go(-1)">返回</a></li>
                <li role="presentation"><a href="#department">学院</a></li>
                <li role="presentation"><a href="#major">专业</a></li>
                <li role="presentation"><a href="#clazz">班级</a></li>
                <li role="presentation"><a href="#student">学生</a></li>
                <li role="presentation"><a href="#family">家庭</a></li>
                <li role="presentation"><a href="#course">课程</a></li>
                <li role="presentation"><a href="#employment">就业</a></li>
                <li role="presentation"><a href="#transfer">转专业</a></li>
                <li role="presentation"><a href="#suspension">退休学</a></li>
                <li role="presentation"><a href="#retardation">留级</a></li>
                <li role="presentation"><a href="#reward">奖惩</a></li>
                <li role="presentation"><a href="#score">分数</a></li>
            </ul>
        </div>
        <div class="main col-md-10">
            <div class="row">
                <div id="department" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">学院</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="department">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/学院表模板.xlsx">学院模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>


                <div id="major" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">专业</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="major">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/专业表模板.xlsx">专业表模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>


                <div id="clazz" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">班级</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="clazz">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/班级表模板.xlsx">班级表模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="student" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">学生</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="student">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/学生基本信息表模板.xlsx">学生基本信息表模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="family" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">家庭成员</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="family">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/家庭成员表.xlsx">家庭成员表,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="course" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">课程</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="course">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/课程表模板.xlsx">课程表模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="employment" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">就业</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="employment">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/就业情况表模板.xlsx">就业情况表模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="reward" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">奖惩</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="reward">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/奖惩表.xlsx">奖惩表模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="score" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">成绩</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="score">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/成绩模板表.xlsx">成绩模板表,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="retardation" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">成绩</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="retardation">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/留级表.xlsx">留级表模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="transfer" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">转专业</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="transfer">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/转专业表模板.xlsx">转专业表模板,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="suspension" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">退休学</div>
                        <div class="panel-body">
                            <form action="/excel/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>上传</label>
                                    <input type="file" name="file">
                                </div>
                                <input name="type" type="text" class="hidden" value="suspension">
                                <input type="submit" value="上传" class="btn btn-default">
                                <a href="/excel/downloadExcel/退休学模板表.xlsx">退休学模板表,点击下载</a>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
</body>
</html>