<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbsy.student.mapper.CourseMapper">

    <insert id="insertSelective" parameterType="com.dbsy.student.pojo.Course" useGeneratedKeys="true"
            keyProperty="id">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                #{number},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="departmentId != null">
                #{departmentId},
            </if>
        </trim>
    </insert>

    <select id="list" resultType="com.dbsy.student.pojo.Course">
        select * from course
        <where>
            <if test="name != null">
                or name like concat('%',#{name},'%')
            </if>
        </where>
        <if test="start!=null and end != null">
            limit #{start},#{end}
        </if>
    </select>

    <select id="listCount" resultType="int">
        select count(*) from course
        <where>
            <if test="name != null">
                or name like concat('%',#{name},'%')
            </if>
        </where>
    </select>


    <delete id="batchRemove">
        delete from course where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>