<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbsy.student.mapper.HistoryMapper">

    <update id="update" parameterType="com.dbsy.student.pojo.History">
        update history
        <set>
            <if test="ip != null">
                ip=#{ip,jdbcType=VARCHAR},
            </if>
            <if test="adminId != null">
                admin_id=#{adminId},
            </if>
            <if test="insertTime != null">
                insert_time=#{insertTime},
            </if>
            <if test="url != null">
                url=#{url,jdbcType=VARCHAR},
            </if>
            <if test="args != null">
                args=#{args,jdbcType=VARCHAR},
            </if>
            <if test="ret != null">
                ret=#{ret,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                method=#{method,jdbcType=VARCHAR},
            </if>
        </set>
        where id=#{id}
    </update>

    <insert id="insert" parameterType="com.dbsy.student.pojo.History" useGeneratedKeys="true"
            keyProperty="id">
        insert into history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="adminId != null">
                admin_id,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="args != null">
                args,
            </if>
            <if test="ret != null">
                ret,
            </if>

            <if test="method != null">
                method,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="adminId != null">
                #{adminId},
            </if>
            <if test="insertTime != null">
                #{insertTime},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="args != null">
                #{args,jdbcType=VARCHAR},
            </if>
            <if test="ret != null">
                #{ret,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <select id="list" resultType="com.dbsy.student.pojo.History">
        select * from history

        <if test="page!=null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from history

    </select>
</mapper>