<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbsy.student.mapper.SuspensionMapper">
  <resultMap id="BaseResultMap" type="com.dbsy.student.pojo.Suspension">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="student_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="suspension_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="resumption_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="duration" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.dbsy.student.pojo.Suspension">
    insert into suspension (id, student_id, suspension_date, 
      resumption_date, duration, reason, 
      remarks)
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{suspensionDate,jdbcType=DATE}, 
      #{resumptionDate,jdbcType=DATE}, #{duration,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dbsy.student.pojo.Suspension">
    insert into suspension
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="suspensionDate != null">
        suspension_date,
      </if>
      <if test="resumptionDate != null">
        resumption_date,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="suspensionDate != null">
        #{suspensionDate,jdbcType=DATE},
      </if>
      <if test="resumptionDate != null">
        #{resumptionDate,jdbcType=DATE},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="list" resultType="com.dbsy.student.pojo.Suspension">
    select * from suspension
    <where>
      <if test="studentId != null">
        or name like concat('%',#{studentId},'%')
      </if>
    </where>
    <if test="page!=null and pageSize != null">
      limit (#{page}-1)* #{pageSize},#{pageSize}
    </if>
  </select>

  <select id="listCount" resultType="int">
    select suspension(*) from suspension
    <where>
      <if test="studentId != null">
        or name like concat('%',#{studentId},'%')
      </if>
    </where>
  </select>


  <delete id="batchRemove">
    delete from suspension where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into suspension (id,student_id,suspension_date,resumption_date,duration,reason,remarks
    )
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.id},#{item.studentId,#{item.suspensionDate},#{item.resumptionDate},#{item.duration},#{item.reason},#{item.remarks}
      )
    </foreach>
  </insert>
</mapper>