<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="static :: head"></head>
<style>
    html,body{
        height: 100%;
        background-color: #eee;
    }
    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 100%;
        margin-right: 10px;
        /*align-items: stretch;*/
        /*align-content: space-between;*/
    }
    .right{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #eee;
        width: 50%;
        height: 80%;
        margin-right: 10px;
    }
    .left{
        background-color: white;
        margin-left: 10px;
        /*width: 850px;*/
        /*height: 60%;*/
    }
    .breadcrumb{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }


</style>
<body>
<div>
    <ol class="breadcrumb">
        <li>首页</li>
    </ol>
</div>
<div class="main">

    <div id="line" class="left" style="width: 50%;height:78%;"></div>
    <div class="right">
        <div id="pie_warning" style="width: 48%;height:48%; background-color: white;"></div>
        <div id="pie_cet" style="width: 48%;height:48%; background-color: white;"></div>
        <div id="pie_guake" style="width: 48%;height:48%; background-color: white;"></div>
        <div id="pie_xiufutuixue" style="width: 48%;height:48%; background-color: white;"></div>
    </div>
</div>
</body>
<div th:replace="static :: script"></div>
<script>
    // 学业预警
    let myChart = echarts.init(document.getElementById('pie_warning'));
    let option1 = {
        title: {
            text: '学业预警',
            subtext: '东北石油大学',
            left: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['未预警', '橙色预警', '黄色预警', '红色预警']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '50%',
                center: ['50%', '70%'],
                data: [
                    {value: 335, name: '未预警'},
                    {value: 310, name: '橙色预警'},
                    {value: 234, name: '黄色预警'},
                    {value: 135, name: '红色预警'}
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option1);
    //本学期挂科留级
    myChart = echarts.init(document.getElementById('pie_cet'));
    option1 = {
        title: {
            text: '本学期挂科留级',
            subtext: '东北石油大学',
            left: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['无记录', '挂科', '留级']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '50%',
                center: ['50%', '70%'],
                data: [
                    {value: 335, name: '无记录'},
                    {value: 310, name: '挂科'},
                    {value: 234, name: '留级'}
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option1);

    //本学期四六级通过
    myChart = echarts.init(document.getElementById('pie_guake'));
    option1 = {
        title: {
            text: '本学期四六级通过',
            subtext: '东北石油大学',
            left: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['未通过', '过四级', '过六级']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '50%',
                center: ['50%', '70%'],
                data: [
                    {value: 335, name: '未通过'},
                    {value: 310, name: '过四级'},
                    {value: 234, name: '过六级'}
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option1);


    //修复退学
    myChart = echarts.init(document.getElementById('pie_xiufutuixue'));
    option1 = {
        title: {
            text: '本学期修复退学',
            subtext: '东北石油大学',
            left: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['升学', '休学', '退学', '复学', '留级']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '50%',
                center: ['50%', '70%'],
                data: [
                    {value: 335, name: '升学'},
                    {value: 310, name: '休学'},
                    {value: 234, name: '退学'},
                    {value: 310, name: '复学'},
                    {value: 234, name: '留级'}
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option1);


    <!--折线图-->
    let myChart2 = echarts.init(document.getElementById('line'));
    let option2 = {
        title: {
            text: '学生各学期情况',
            left: 'center'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            orient: 'vertical',
            left:'left',
            data: ['挂科', '学业预警', '四六级']
        },
        grid: {
            top:'15%',
            left: '10%',
            right: '10%',
            bottom: '5%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ["第一学期", "第二学期", "第三学期", "第四学期", "第五学期", "第六学期", "第七学期", "第八学期"]
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '挂科',
                type: 'line',
                stack: '总量',
                data: [120, 132, 101, 134, 90, 230, 210, 120]
            },
            {
                name: '学业预警',
                type: 'line',
                stack: '总量',
                data: [220, 182, 191, 234, 290, 330, 310, 110]
            },
            {
                name: '四六级',
                type: 'line',
                stack: '总量',
                data: [150, 232, 201, 154, 190, 330, 410, 120]
            }
        ]
    };
    myChart2.setOption(option2);

</script>
</html>